nav {
  padding: 10px 8%;
  font-family: "Amatic SC", serif;
}

nav span {
  font-size: 32px;
  margin: 0;
}

nav a {
  text-decoration: none;
}

/* logic of burger menu */
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

header li {
  text-align: right;
}

header li a {
  padding: 20px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}

header li a:hover,
header .menu-btn:hover {
  background-color: #f4f4f4;
}

/* menu */

header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 20px;
  position: relative;
  user-select: none;
}

header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 992px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header li {
    float: right;
  }
  header li a {
    padding: 20px 30px;
  }
  header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  header .menu-icon {
    display: none;
  }
}
